# Server Configuration
NODE_ENV=development
PORT=3000
HOST=localhost

# Database Configuration
MONGODB_URI=mongodb://localhost:27017/sirtifai_db

# File Upload Configuration
MAX_FILE_SIZE=5242880
UPLOAD_PATH=uploads/

# Email Configuration
EMAIL_USER=your-email@gmail.com
EMAIL_PASSWORD=your-app-password
BASE_URL=http://localhost:3000



MONGODB_URI = mongodb+srv://xiorent:thisispassword@cluster0.slaadwh.mongodb.net/?retryWrites=true&w=majority&appName=Cluster0
# File Upload Configuration